<% @header = "About" %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan mollis velit, quis malesuada lorem mattis at. Aliquam ante odio, vestibulum eu metus vel, condimentum auctor purus. Aenean rhoncus nunc arcu, non adipiscing nunc tincidunt nec. </p>