<% @header = "About" %>

<div class="text-center" style="margin-top:100px">
	Die App wurde von Codeshifter entwicklt!

</div>

<div class="text-center" style="margin-top:200px">
	created by <br><a href="codeshifter.de" target="_blank">codeshifter</a><br>
	<a href="mailto:help@codeshifter.de">help@codeshifter.de</a>
</div>