<% @header = "Wissenswettbewerbe" %>

<div>
	<div class="box pull-left">
		<%= link_to("dd", '#' ) %> <br>
		<span>Fu&szlig;ball</span>
	</div>	

	<span class="clearfix"></span>
	<hr>

	<div class="box pull-left">
		<%= link_to(image_tag("table-tennis.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Tischtennis</span>
	</div>

	<span class="clearfix"></span>
	<hr>	

	<div class="box pull-left">
		<%= link_to(image_tag("swimming.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Schwimmen</span>
	</div>



</div>