<% @header = "Herzlich Willkommen" %>

<div id="weather">

	<ul id="scroller">
		<!-- The forecast items will go here -->
	</ul>

	<a href="#" class="arrow previous">Previous</a>
	<a href="#" class="arrow next">Next</a>

</div>

<p class="location"></p>




