<% @header = "Herzlich Willkommen" %>

<div class="text-center">
	<h1>34. Salana Ijtema</h1>
	<p>Der Majlis Khuddam-ul-Ahmadiyya Deutschland</p>
	<small>Messeallee 1, 76287 Rheinstetten</small>
	<%= link_to	'Ijtema Erkunden (Maps)', maps_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
<div class="text-center">
	<h3>Radio</h3>
	<small>Frequenz: 107,5</small><br>

	<abbr title="Phone">Phonecast:</abbr> <span class="glyphicon-earphone glyphicon"></span> <a href="tel:+496990018494">(069) 90018494</a>
</div>

<hr>
<div class="text-center">
	<h4>Hotelreservierung</h4>
	<%= link_to "weitere Informationen...", "http://khuddam.de/hotelreservierung.html" %>
</div>

<hr>
<div class="text-center">
	<h3>Ijtema Büro kontaktieren</h3>
	<span class="glyphicon-earphone glyphicon"></span> <a href="tel:+4969800841335">(069) 800841-335</a>
</div>

<!-- 
<div id="weather">
	<ul id="scroller">
		<p class="location"></p>
		The forecast items will go here
	</ul>

	<a href="#" class="arrow previous">Previous</a>
	<a href="#" class="arrow next">Next</a>
</div> -->